---
import Button from "../components/Button.astro";
---

<section>
  <h3>Contact</h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt libero at
    dolore soluta, doloribus dolorem excepturi, corrupti qui, error molestiae ut
    ex aperiam sed recusandae repudiandae possimus quidem unde neque!
  </p>
  <Button text="Say Hello" />
</section>
