---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
---

<main>
  <Layout title="Efflo | Privacy Policy">
    <Section header="Disclaimer">
      <p class="md:ml-1 text-sm pl-4 mb-4">April 07, 2024.</p>

      <div class="px-4 pb-10">
        <p class="md:ml-1 text-sm">
          This disclaimer ("Disclaimer") sets forth the general guidelines,
          disclosures, and terms of your use of the "Efflo" mobile app ("Mobile
          App, App") and any of its related products and services (collectively,
          "Services"). This Disclaimer is a legally binding agreement between
          you ("User", "you" or "your") and this Mobile App developer
          ("Operator", "we", "us" or "our"). By accessing and using the Mobile
          App and Services, you acknowledge that you have read, understood, and
          agree to be bound by the terms of this Disclaimer. If you are entering
          into this Disclaimer on behalf of a business or other legal entity,
          you represent that you have the authority to bind such entity to this
          Disclaimer, in which case the terms "User", "you" or "your" shall
          refer to such entity. If you do not have such authority, or if you do
          not agree with the terms of this Disclaimer, you must not accept this
          Disclaimer and may not access and use the Mobile App and Services. You
          acknowledge that this Disclaimer is a contract between you and the
          Operator, even though it is electronic and is not physically signed by
          you, and it governs your use of the Mobile App and Services.
        </p>
        <h4 class="md:ml-1 text-2xl mb-2 mt-8">Representation</h4>
        <p class="md:ml-1 text-sm">
          Any views or opinions represented in the Mobile App do not represent
          those of people, institutions or organizations that the Operator or
          creators may or may not be associated with in professional or personal
          capacity, unless explicitly stated. Any views or opinions are not
          intended to malign any religion, ethnic group, club, organization,
          company, or individual.
        </p>
        <h4 class="md:ml-1 text-2xl mb-2 mt-8">Content and postings</h4>
        <p class="md:ml-1 text-sm">
          You may not modify, print or copy any part of the Mobile App and
          Services. Inclusion of any part of the Mobile App and Services in
          another work, whether in printed or electronic or another form or
          inclusion of any part of the Mobile App and Services on another
          resource by embedding, framing or otherwise without the express
          permission of the Operator is prohibited.
        </p>
        <h4 class="md:ml-1 text-2xl mb-2 mt-8">
          Indemnification and warranties
        </h4>
        <p class="md:ml-1 text-sm">
          You may not modify, print or copy any part of the Mobile App and
          Services. Inclusion of any part of the Mobile App and Services in
          another work, whether in printed or electronic or another form or
          inclusion of any part of the Mobile App and Services on another
          resource by embedding, framing or otherwise without the express
          permission of the Operator is prohibited.
        </p>
        <h4 class="md:ml-1 text-2xl mb-2 mt-8">Changes and amendments</h4>
        <p class="md:ml-1 text-sm">
          We reserve the right to modify this Disclaimer or its terms relating
          to the Mobile App and Services at any time, effective upon posting of
          an updated version of this Disclaimer in the Mobile App. When we do,
          we will revise the updated date at the bottom of this page. Continued
          use of the Mobile App and Services after any such changes shall
          constitute your consent to such changes.
        </p>
        <h4 class="md:ml-1 text-2xl mb-2 mt-8">
          Acceptance of this disclaimer
        </h4>
        <p class="md:ml-1 text-sm">
          You acknowledge that you have read this Disclaimer and agree to all
          its terms and conditions. By accessing and using the Mobile App and
          Services you agree to be bound by this Disclaimer. If you do not agree
          to abide by the terms of this Disclaimer, you are not authorized to
          access or use the Mobile App and Services.
        </p>
      </div>
    </Section>
    <Section header="Privacy Policy">
      <div class="px-4 pb-10">
        <p class="md:ml-1 text-sm">
          This Privacy Policy describes how Efflo ("we", "us", or "our")
          collects, uses, and discloses your Personal Information when you use
          Efflo ("App").
        </p>
        <h4 class="md:ml-1 text-2xl mb-2 mt-8">
          Information collection and usage
        </h4>
        <p class="md:ml-1 text-sm">
          We do not collect any personal information from you. The App does not
          require any personal data to function.
        </p>
        <h4 class="md:ml-1 text-2xl my-2 mb-2 mt-8">Third-party services</h4>
        <p class="md:ml-1 text-sm">
          We do not use any third-party services that collect personal
          information.
        </p>
        <h4 class="md:ml-1 text-2xl my-2 mb-2 mt-8">
          Changes to this privacy policy
        </h4>
        <p class="md:ml-1 text-sm">
          We may update our Privacy Policy from time to time. We will notify you
          of any changes by posting the new Privacy Policy on this page.
        </p>
        <h4 class="md:ml-1 text-2xl my-2 mb-2 mt-8">Contact us</h4>
        <p class="md:ml-1 text-sm">
          If you have any questions about this Privacy Policy, please contact us
          <a class="link-primary" href="mailto:support@todidit.com">here</a>.
        </p>
        <p class="md:ml-1 text-sm mt-4">
          This document was last updated on April 07, 2024.
        </p>
      </div>
    </Section>
  </Layout>
</main>
