---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Project from "../components/Project";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Landing from "../components/Landing.astro";
import Weatheready from "../../public/Weatheready";
import Todidit from "../../public/Todidit";
---

<Layout title="Dan Sabelli.">
  <Navbar />
  <Section><Landing /></Section>
  <main>
    <Section header="About" className="mb-24 md:mb-32"><About /></Section>
    <Section header="Projects" className="mb-24 md:mb-32">
      <Project
        client:visible
        title="toDidit"
        description="A responsive MERN stack productivity application with full CRUD, authentication, registration and email verification, validation, data archiving and lookup features."
        tech={[
          "React",
          "Node.js",
          "Express",
          "MongoDB",
          "API",
          "Tailwind",
          "JWT",
          "Jest",
        ]}
        webLink="https://www.todidit.com"
        githubLink="https://github.com/dsabelli/todidit"
        images={["https://placeimg.com/260/400/arch", "dsabelli.png"]}
        position="left"
        ><Todidit width="48" />
      </Project>

      <Project
        client:visible
        title="Weather Ready"
        description="Weather Ready is a weather forecast and clothing recommendation web application that provides users with clothing recommendations based on the weather in their current or searched for location."
        tech={["Typescript", "React", "Redux", "API", "Tailwind", "Cypress"]}
        webLink="https://www.weatheready.com"
        githubLink="https://github.com/dsabelli/weatheready"
        images={["https://placeimg.com/260/400/arch", "dsabelli.png"]}
        position="right"
        ><Weatheready width="48" />
      </Project>
    </Section>
  </main>
  <Section header="Contact" className="mb-4">
    <Contact />
  </Section>
  <Footer />
</Layout>
