---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Project from "../components/Project";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Daniel Sabelli.">
  <Navbar />
  <Section className="bg-base-100"><Hero /></Section>
  <Section header="About" className="bg-base-200"><About /></Section>
  <Section header="Projects" className="bg-base-100">
    <Project
      title="Project 1"
      description="Veniam earum est accusamus quaerat ipsa esse voluptatibus labore nemo?"
      tech={["a", "b", "c"]}
      webLink="https://www.weatheready.com"
      githubLink="https://www.todidit.com"
      image="https://placeimg.com/260/400/arch"
    />
    <Project
      title="Project 2"
      description="Veniam earum est accusamus quaerat ipsa esse voluptatibus labore nemo?"
      tech={["a", "b", "c"]}
      webLink="https://www.weatheready.com"
      githubLink="https://www.todidit.com"
      image="https://placeimg.com/260/400/arch"
    />
  </Section>
  <Section header="Contact" className="bg-base-200">
    <Contact />
  </Section>
  <Footer />
</Layout>
