<section class="w-full">
  <div class="hero bg-base-200">
    <div class="hero-content flex-col md:flex-row md:justify-center md:gap-10">
      <div class="md:w-1/2">
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>

        <h4 class="text-lg font-bold mb-4">What I'm usually working with:</h4>
        <ul class="flex w-60 md:w-72 justify-between">
          <div>
            <li>Typescript</li>
            <li>React</li>
            <li>Redux</li>
          </div>
          <div>
            <li>Tailwind CSS</li>
            <li>Node.js</li>
            <li>Astro</li>
          </div>
        </ul>
      </div>
      <figure class="md:w-1/2 flex justify-center items-center">
        <img src="dsabelli.png" class="w-52 md:w-64 rounded-lg shadow-2xl" />
      </figure>
    </div>
  </div>
</section>
