---
import Li from "../../public/Li";
---

<div class="hero">
  <div class="hero-content flex-col md:flex-row md:justify-center md:gap-10">
    <div class="md:w-2/3">
      <p class="py-6">
        I've always admired those with the ability to create something that
        people admire and enjoy. Software development gives me the opportunity
        to do just that; using both logic and creativity, I'm able to build
        accessible applications that could help thousands or millions of people.
        I think that's amazing!
      </p>
      <p>
        Software development is many things to me: creating, learning, growing,
        honing, problem-solving, critical-thinking, collaborating, adding value,
        being challenged. I'm grateful and excited to continue this journey, to
        always be adding to my toolkit, improving my skills, and helping people
        along the way.
      </p>
      <h4 class="font-bold my-4">Here's my current toolkit:</h4>
      <ul class="flex w-60 md:w-72 justify-between text-sm font-mono">
        <div>
          <Li>Typescript</Li>
          <Li>Tailwind</Li>
          <Li>Node.js</Li>
        </div>
        <div>
          <Li>React</Li>
          <Li>Redux</Li>
          <Li>Astro</Li>
        </div>
      </ul>
    </div>
    <figure class="md:w-1/3 md:self-start pt-7">
      <img src="dsabelli.png" class="w-52 md:w-64 rounded-lg shadow-2xl" />
    </figure>
  </div>
</div>
