---
import Button from "../components/Button.astro";
---

<div class="w-full hero">
  <div
    class="hero-content flex-col py-12 justify-center items-center text-center gap-12 max-w-xl"
  >
    <h4 class="text-4xl md:text-5xl">Get in touch</h4>
    <p>
      I'm not currently looking for any new opportunities, but my inbox is
      always open. Whether you have a question or just want to say hello, I'll
      try my best to get back to you!
    </p>
    <a href="mailto:dsabelli3@gmail.com"><Button text="Say Hello" /></a>
  </div>
</div>
