---
const year = new Date().getFullYear();
---

<footer
  class="flex min-h-12 md:min-h-16 justify-center items-center shadow-2xl"
>
  <p class="text-sm">
    Copyright © {year} dansabelli.com
  </p>
</footer>
