---
const year = new Date().getFullYear();

import Email from "../../public/Email";
import Github from "../../public/Github";
import Linkedin from "../../public/Linkedin";
import Resume from "../../public/Resume";
import Todidit from "../../public/Todidit";
import Weatheready from "../../public/Weatheready";
---

<footer
  class="flex flex-col gap-4 py-8 min-h-12 md:min-h-16 justify-center items-center shadow-2xl bg-base-100"
>
  <div class="flex items-center gap-8 py-6">
    <a
      class="hover:text-primary md:hover:pb-2"
      target="_blank"
      href="https://github.com/dsabelli"
      ><Github />
    </a>
    <a
      class="hover:text-primary md:hover:pb-2"
      target="_blank"
      href="https://linkedin.com/in/dsabelli"
      ><Linkedin />
    </a>
    <a
      class="hover:text-primary md:hover:pb-2"
      href="mailto:dsabelli3@gmail.com"
      ><Email />
    </a>
    <a
      class="hover:text-primary md:hover:pb-2"
      download
      href="/Daniel Sabelli Resume.pdf"
      ><Resume />
    </a>
    <a
      class="md:hover:-translate-y-1"
      target="_blank"
      href="https://todidit.com"
      ><Todidit width="30" />
    </a>
    <a
      class="md:hover:-translate-y-1"
      target="_blank"
      href="https://weatheready.com"
      ><Weatheready width="30" />
    </a>
  </div>
  <div>
    <p class="text-sm font-mono">
      Copyright © {year} dansabelli.com
    </p>
  </div>
</footer>
