---
import Button from "../components/Button.astro";
---

<div class="hero min-h-screen mt-4 items-center md:mt-0">
  <div class="hero-content flex-col mb-48 md:mb-32">
    <div>
      <hgroup class="flex flex-col gap-2 mb-10">
        <h4 class="text-sm md:ml-0.5">Hi, my name is</h4>
        <h1 class="text-4xl md:text-7xl font-bold">Dan Sabelli.</h1>
        <h2 class="text-2xl md:text-5xl font-bold md:ml-0.5">
          I build things that help people.
        </h2>
      </hgroup>
      <p class="md:ml-1">
        I'm a software developer focused on creating applications and
        experiences that help simplify daily living. Currently, I'm helping to
        develop accessible and efficient solutions at <span>WestJet</span>,
        ensuring people love where they're going.
      </p>
    </div>
    <a class="self-start" download href="/Daniel Sabelli Resume.pdf">
      <Button text="Resume" className="self-start mt-10" />
    </a>
  </div>
</div>
