---
import Button from "./Button.astro";
---

<header class="md:mx-4">
  <nav class="w-full max-w-5xl mx-auto p-4 md:p-4">
    <div class="navbar p-0">
      <div class="justify-between w-full">
        <a href="#" class="btn btn-ghost normal-case text-xl text-primary"
          >dS.</a
        >
        <div class="dropdown dropdown-end md:hidden">
          <label
            tabindex="0"
            class="btn btn-ghost md:hidden hover:text-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path>
            </svg>
          </label>
          <ul
            tabindex="0"
            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li class="hover:text-primary"><a href="#about">About</a></li>
            <li class="hover:text-primary"><a href="#projects">Projects</a></li>
            <li class="hover:text-primary"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-center hidden md:flex md:mr-2">
        <ul class="menu menu-horizontal p-0 mr-4">
          <li class="hover:text-primary"><a href="#about">About</a></li>
          <li class="hover:text-primary"><a href="#projects">Projects</a></li>
          <li class="hover:text-primary"><a href="#contact">Contact</a></li>
        </ul>
        <a download href="/Daniel Sabelli Resume.pdf">
          <Button text="Resume" />
        </a>
      </div>
    </div>
  </nav>
</header>
